<body>
  <div>
    <img src="/img/huella.jpg" alt="" />
    <p class="fw-lighter">
      Lighter weight text (relative to the parent element).
    </p>
  </div>
  <div class="contanier">
    <p class="fw-lighter">
      Lighter weight text (relative to the parent element).
    </p>
  </div>
  <script src="/views/nosotros.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
</body>
