<body>
  <div class="p-3 mt-4 mx-5" style="display: flex">
    <img
      class="p-3"
      style="width: 100%; height: 500px"
      src="/img/Hero-4-Girl-Puppy-300x300.jpg"
      alt=""
    />
    <p class="fw-lighter">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, accusantium
      mollitia, recusandae provident repellat, beatae quo expedita fugiat illum
      nostrum dolorum! Rerum eveniet sit repellat officiis tenetur et, iste
      temporibus? Voluptates expedita cupiditate sed facere eius, quasi tempora
      quidem, facilis soluta similique odio quo. Facere reiciendis illum dicta?
      Officia officiis fuga autem laboriosam veniam quis ab nihil labore, cum
      nulla. Quos tempore consequatur, deleniti minus unde ipsum praesentium
      mollitia blanditiis, facere a aliquid repellat alias corporis consectetur.
      Maxime laudantium voluptatem voluptatibus repellendus voluptate. Soluta
      maiores qui expedita cum aspernatur ullam. Iure recusandae in magnam at
      sapiente nam eveniet dicta sit aspernatur ad reiciendis delectus commodi
      accusantium repellat, saepe deleniti beatae minima voluptas? Omnis minima
      consectetur soluta. Inventore doloremque velit recusandae. Ipsum ex
      corrupti aspernatur laborum eum reiciendis beatae? Repellat maxime et
      sapiente molestiae vitae eum, rerum maiores repellendus itaque temporibus
      unde fugit omnis adipisci voluptates iusto totam deserunt recusandae
      delectus. Eaque earum architecto odit est eum nam autem esse, qui sequi
      quasi nobis ipsa amet soluta velit consectetur! Necessitatibus laudantium
      aliquid porro omnis iure maiores eos laborum nesciunt animi alias!
      Aliquid, explicabo tempore. Maxime alias veritatis nihil, deserunt ipsa
      assumenda rerum soluta ad officiis dicta, harum aut consequatur dolorum
      qui possimus voluptates tempora ab iure quia quos est a. Fugit! Obcaecati
      voluptas harum, error doloribus tempore explicabo atque inventore, aliquam
      ab eius corporis qui, animi recusandae consequuntur rerum a in magnam
      possimus totam aspernatur expedita. Eius assumenda doloremque nobis iste?
      Soluta non doloribus odit eveniet corporis vero ipsa sint, quas maxime
      odio beatae suscipit eligendi hic accusantium veniam quibusdam debitis,
      error veritatis aspernatur unde quod illo. Accusamus consequuntur nostrum
      sapiente. Quod est harum, magnam cum, nam architecto explicabo dolorem
      nulla dolorum facilis perspiciatis sed facere quisquam veniam similique,
      perferendis vero molestiae provident iste voluptatum? Quo nobis dicta
      minima illum iure. Officia soluta deserunt corrupti similique? Tempore
      perspiciatis, ut excepturi quas placeat autem, accusamus, suscipit aut id
      nemo ratione fuga ipsam odio iure ab. Aperiam consequatur vero
      necessitatibus alias praesentium quisquam! Ducimus, totam dolore! Magnam,
      voluptatibus ratione! Assumenda incidunt labore debitis ab, omnis neque,
      quidem molestias officiis, deleniti esse nobis ipsa fugit enim mollitia
      animi doloremque quod quae quaerat placeat exercitationem! Ipsam illo,
      dolore laboriosam eveniet nulla dignissimos veritatis maiores iste facilis
      ipsum asperiores adipisci sit alias beatae blanditiis possimus ratione est
      dolorem placeat voluptate earum provident! Dicta ipsum dignissimos
      asperiores! Neque sed non ratione quibusdam impedit, tempore voluptates
      natus voluptatibus nihil aliquam, deserunt ea possimus sint perspiciatis,
      nam atque voluptate facilis et repellendus quidem alias animi vero modi
      ducimus? Quisquam. Similique, quae libero, impedit nam debitis dolores
      temporibus eum itaque optio cupiditate consequatur cumque laborum sequi
      nostrum eius cum voluptatum non expedita quasi accusantium ipsa illo hic
      repellat! Eos, aliquid! Minus, debitis. Ad, laudantium ab quidem voluptate
      id optio repellat earum, quia nisi voluptatum rem at laborum natus iure
      quaerat nobis suscipit. Rerum neque ex sequi aperiam error obcaecati quia!
      Tempore, omnis perspiciatis pariatur numquam sint consequatur quod
      voluptatem in illo doloribus. Numquam nesciunt iusto minima nihil quidem
      odit at tenetur neque, consequatur, possimus sit! Fugiat recusandae
      maiores rerum? Dolor! Reprehenderit aperiam, itaque esse, mollitia aliquam
      cumque facilis ipsum quam consectetur nostrum deserunt porro dolore iste
      enim reiciendis beatae alias aut accusamus temporibus possimus
      perspiciatis ex corporis! Eveniet, sunt at. Corporis molestiae inventore
      pariatur distinctio ipsum qui earum esse provident! Architecto sapiente
      earum cum sint libero eveniet sit est esse vero blanditiis, dolorem, rem,
      excepturi commodi assumenda quas id veritatis. Laudantium eos sint fugit
      pariatur sapiente aspernatur beatae dolorum illo vitae ratione saepe,
      recusandae omnis dicta eum cumque maiores alias voluptatum nobis
      repudiandae repellat temporibus. A natus maiores vitae vero.
    </p>
  </div>

  <script src="/views/nosotros.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
</body>
