<body>
  <div class="container mt-3">
    <button class="btn btn-warning" id="mostrarPerros">Perros</button>
    <button class="btn btn-success" id="mostrarGatos">Gatos</button>
  </div>
  <div class="row mb-5 mt-5 container-fluid" id="filaTarjetasPerro"></div>
  <div class="row mb-5 mt-5 container-fluid" id="filaTarjetasGato"></div>

  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script src="/db/stockPerros.json"></script>
  <script src="/functions/botonesPerros.js"></script>
  <script src="/functions/agregarCarritoPerros.js"></script>
  <script src="/db/stockGatos.json"></script>
  <script src="/views/gatos.js"></script>
  <script src="/views/perros.js"></script>
  <script src="/views/shop.js"></script>
  <script src="/functions/botonesGatos.js"></script>
</body>
